{% extends 'usalama_smart/base.html' %}
{% load static %}
{% block title %}All updates{% endblock %}
{% block content%}
<div class="container2">
    <header class="bg-primary text-center">
        <h1>All Updates</h1>
    </header>
    {% for update in updates %}
        <article>
            <h2 class="update-title">{{ update.title }}</h2>
            <p class="update-content">{{ update.content }}</p>
            <small class="update-author">Posted by {{ update.author.username }} on {{ update.created_at }}</small>
            <hr class="hr">
        </article>
    {% empty %}
        <p class="text-muted">No updates yet.</p>
    {% endfor %}
</div>
{% endblock %}
